.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.welcome > * {
  margin-bottom: 5px;
}

.welcome > *:last-child {
  margin-bottom: 0;
}

.welcome-btn {
  background-color: white;
  border-radius: 3px;
  width: 50px;
}

.welcome-pass {
  height: 20px;
  text-align: center;
}

.error {
  color: red;
}